<meta charset="utf-8" />

			
			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->

	</div>
	
	
	<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" id="myModalLink" style="display:none;"></a>

	<a href="#myAlert" role="button" class="btn btn-danger" data-toggle="modal" id="myAlertLink" style="display:none;"></a>

	<a href="#myConfirm" role="button" class="btn btn-warning" data-toggle="modal" id="myConfirmLink" style="display:none;"></a>
	
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">

		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

			<h3 class="myModalTitle"></h3>

		</div>

		<div class="modal-body">

			<p class="myModalBody"></p>

		</div>

		<div class="modal-footer">

			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>

			<button class="btn yellow">保存</button>

		</div>

	</div>

	<div id="myAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" style="z-index:99999999!important;">

		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

			<h3 class="myAlertTitle"></h3>

		</div>

		<div class="modal-body">

			<p class="myAlertBody"></p>

		</div>

		<div class="modal-footer">

			<button data-dismiss="modal" class="btn green">确认</button>

		</div>

	</div>

	<div id="myConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"  style="z-index:99999998!important;">

		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

			<h3 class="myConfirmTitle"></h3>

		</div>

		<div class="modal-body">

			<p class="myConfirmBody"></p>

		</div>

		<div class="modal-footer">

			<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>

			<button data-dismiss="modal" class="btn blue ok" >确认</button>

		</div>

	</div>
	
	<div id="updatedInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="min-height:400px;min-width:50%;">

		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

			<h3 class="myModalTitle">更新说明</h3>

		</div>

		<div class="modal-body">

			<div class="myModalBody" style="border-bottom: 1px #ccc dashed ;font-size:15px;">
				<p style="font-weight:bold;color:red;">最新版本：1.6</p>
				<ul>
				   <li>支持PC端商户注册  </li>
				   <li>支持微信扫描二维码登陆PC后台</li>
				   <li>新增密码找回功能</li>
				   <li>新增更换绑定手机号功能</li>
				</ul>
			</div>
			
			<div class="portlet" style="margin-top:50px;">

					<div class="portlet-title">

						<div class="caption"></div>

						<div class="tools" style="float: left;width: 200px;">

							<a href="javascript:;" class="expand" style="background-repeat: no-repeat;padding-left: 20px;width:200px;">查看更新历史</a>

							

						</div>

					</div>

					<div class="portlet-body" style="display: none;">
						<div class="myModalBody" style="border-bottom: 1px #ccc dashed ;font-size:15px;">
							<p style="font-weight:bold;">版本：1.5</p>
							<ul>
							   <li>新增员工分成功能
							      <div style="font-size:13px;margin:10px 0;">在店铺中添加分成人员，实现后台员工与前台服务员同时分享打赏金额</div>				      
							   </li>
							   <li>部分细节优化</li>
							</ul>
						
							<p style="font-weight:bold;">版本：1.4</p>
							<ul>
							   <li>
							   		新增按区域管理店铺功能
							        <div style="font-size:13px;margin:10px 0;">例如：企业在北京和上海都有门店，那么可以创建北京、上海两个区域，然后在区域下创建下辖门店，北京和上海区域可以分别指派区域经理进行管理</div>
							   </li>
							   <li>部分细节优化</li>
							</ul>
						</div>
						


					</div>

			</div>
						
		</div>

		

	</div>
	
	<div class="footer">
		<div class="footer-inner" style="text-align: center;width:100%;">
			2016 &copy; 顶顶科技——众赏之下，人人勇夫.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	
	<a class="btn blue" data-toggle="modal" href="#myDataWindow" id="myDataWindowLink" style="display:none;"></a>
	<div id="myDataWindow" class="modal hide fade" tabindex="-1" data-width="760"  style="z-index:99999997!important;">

			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

				<h4 class="myDataWindowTitle"></h4>

			</div>

			<div class="modal-body myDataWindowBody">
			
			</div>

			<div class="modal-footer">

				<button type="button" data-dismiss="modal" class="btn">关闭</button>

				<button type="button" class="btn blue saveInfo">保存</button>

			</div>

	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="media/js/excanvas.min.js"></script>
	<script src="media/js/respond.min.js"></script>  
	<![endif]-->   
	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->

	<script src="media/js/jquery.pulsate.min.js" type="text/javascript"></script>
<!-- 	<script src="media/js/date.js" type="text/javascript"></script> -->
	<script src="media/js/daterangepicker.js" type="text/javascript"></script>     
	<script src="media/js/jquery.gritter.js" type="text/javascript"></script>
	<script src="media/js/fullcalendar.min.js" type="text/javascript"></script>
	<script src="media/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
	<script src="media/js/jquery.sparkline.min.js" type="text/javascript"></script>  
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	
	<script type="text/javascript" src="media/js/select2.min.js"></script>

	<script type="text/javascript" src="media/js/jquery.dataTables.js"></script>

	<script type="text/javascript" src="media/js/DT_bootstrap.js"></script>
	
	<script type="text/javascript" src="media/js/clockface.js"></script>

	<script type="text/javascript" src="media/js/date.js"></script>

	<script type="text/javascript" src="media/js/daterangepicker.js"></script> 

	<script type="text/javascript" src="media/js/bootstrap-colorpicker.js"></script>  

	<script type="text/javascript" src="media/js/bootstrap-timepicker.js"></script>

	<script type="text/javascript" src="media/js/jquery.inputmask.bundle.min.js"></script>   

	<script type="text/javascript" src="media/js/jquery.multi-select.js"></script>   

	<script type="text/javascript" src="media/js/bootstrap-datetimepicker.js"></script>
	
	<script type="text/javascript" src="media/js/bootstrap-timepicker.js"></script>
	
	<script type="text/javascript" src="media/js/chosen.jquery.min.js"></script>
	
	<script src="media/js/jquery.validate.min.js" type="text/javascript"></script>
	
	<script src="media/js/template7.min.js" type="text/javascript"></script>
	<script src="media/js/app.js" type="text/javascript"></script>
	<script src="media/js/index.js" type="text/javascript"></script>        
	<!-- END PAGE LEVEL SCRIPTS -->  
	<script>
		jQuery(document).ready(function() {    
// 			if(window.sessionStorage.getItem("orgCode")==null){
// 				window.location.href="login.html";
// 				return;
// 			}
			
		   App.init(); // initlayout and core plugins
// 		   Index.init();
// 		   Index.initJQVMAP(); // init index page's custom scripts
// 		   Index.initCalendar(); // init index page's custom scripts
// 		   Index.initCharts(); // init index page's custom scripts
// 		   Index.initChat();
// 		   Index.initMiniCharts();
// 		   Index.initDashboardDaterange();
// 		   Index.initIntro();
		   var version = "1.6";
		   if(window.localStorage.getItem("lookUpdated")!=version){
			   $("#updatedBnt").trigger("click");
			   window.localStorage.setItem("lookUpdated", version);
		   }
		  
		   try{
			   var orgList = window.sessionStorage.getItem("orgList");
			   var orgCode = window.localStorage.getItem('orgCode');  
			   var orgListObj = JSON.parse(orgList);
			   if(orgListObj==null||orgListObj.length<=1){
				   $("#header_task_bar").hide();
				   return;
			   }
			   var obj = $("#orgListId");
			   $("#orgListSizeId").html(orgListObj.length);
			   for(var i =0 ;i < orgListObj.length;i++){
				   var temp  = orgListObj[i];
				   if(temp.orgCode == orgCode){
					   obj.append('<li class="external"><a href="#">'+temp.orgName+'<i class="icon-ok-circle red"></i></a></li>');
				   }else{
					   obj.append('<li><a href="'+App.path+'/rs/external/merchants/wap/loginAdmin?orgCode='+temp.orgCode+'" onclick="window.localStorage.setItem(\'orgCode\', \''+temp.orgCode+'\');">'+temp.orgName+'</a></li>');
				   }
			   }
		   }catch(e){}
		   
		});
	</script>

</html>