[#include "model/header-unmenu.html"]
<meta charset="utf-8" />
	<style type='text/css'>
		body {
			overflow-x: hidden;
		}
		.navbar .nav.pull-right{ display:none;}
		.step span {
			display: inline-block;
			line-height: 25px;
			float:left; 
			width:25%;
		}
		
		.step span i {
			background: #f5f5f5;
			width: 25px;
			height: 25px;
			display: inline-block;
			border-radius: 25px;
			margin-right: 10px;
			text-align: center;
			font-style: normal;
		}
		
		.step span.active {
			color: #33CC66;
		}
		
		.step span.active i {
			background: #33CC66;
			color: #fff;
		}
		
		#box input {
			padding: 6px;
		}
		#spanRandomCade{ margin-top:10px; color:#e02222;}
	</style>


<div class="row-fluid">

	<div class="span12">
		<div class="portlet-body form"
			style='width: 600px; margin: 45px auto;'>
			<form name='forms' id="forms" action="#"
				class="form-horizontal form-row-seperated">
				<h3 class="form-section merchantsdis">找回密码</h3>
				<div class="control-group step">
					<span class='active' id="first"><i>1</i>安全验证</span>
					<span id="second" class="active"><i>2</i>验证身份</span>
					<span id="third"><i>3</i>设置新密码</span>
					<span id="four"><i>4</i>完成</span>
				</div>

				<div class='procedure' id="validateCode" style="display: block;">
					<div class="control-group">
						<p style='height: 40px; font-size: 16px; padding-left: 125px; line-height: 40px; color: #FF9999;' id="phone">
						</p>
						<label class="control-label" for="orgName">验证码</label>
						<div class="controls">
							<input type="text" name="mobile" class="m-wrap span12"
								style='width: 65%; float: left;' placeholder="请输入短信验证码" id="inputCode" maxlength="4">
							<button type="button" class="btn red" id="verificationCode"
								style='height: 34px; padding: 0 10px; line-height: 34px; margin-left: 5px;'>获取验证码</button>
							<!-- 添加错误提示信息 -->
							<div id="spanRandomCade" class="errorMessage"></div>
						</div>
					</div>
					<div class="form-actions">
						<button type="button" class="btn blue" onclick="nextActive()">下一步</button>
					</div>
				</div>
				
				
				<div class='procedure' style='display: none;' id="setPassword">
					<div class="control-group">

						<label class="control-label" for="orgName" style='margin-top:34px;'>设置新登录密码</label>

						<div class="controls" style='position: relative;'>
						<P style='color:#FF9999;'>密码需6-20个字符</P>
							<span id='box'> 
								<input type="text" id="password" name='password' class="m-wrap span12" placeholder="请输入新登录密码">
							</span>
							<span id='click' style='position: absolute; top: 34px; right: 5px;'>
								<a href="javascript:txt()"
								style='width: 25px; height: 25px; display: inline-block; background: url(/assets/def/images/bind-audit12.png) center center no-repeat; background-size: 25px;'></a></span>
						</div>
					</div>
					<div class="form-actions">
						<button type="button" class="btn blue" onclick="affirmSetPassword()">确定</button>
					</div>
				</div>
				
				
				<div class='procedure' style='display: none;' id="ok">
					<div class="control-group">
						<p style='height: 40px; font-size: 20px; font-weight: bold; padding-left: 125px; line-height: 40px;'>密码已成功找回，请牢记新的登录密码</p>
					</div>
					<div class="form-actions">
						<button type="button" class="btn blue" onclick="againLogin()">重新登录</button>
					</div>
				</div>
			</form>
		</div>


	</div>

</div>

[#include "model/footer-unmenu.html"]
<script src="def/cus_addr.js" type="text/javascript"></script> 
<script type="text/javascript">

	$(function(){
		var phone=window.localStorage.getItem("phone");
		$("#phone").html(phone);
	}); 
	
	var lock = false;
	//发送验证码
	$('#verificationCode').on('click',function(e){
		if(lock){
			return ;
		}
		lock = true;
		var phone=window.localStorage.getItem("phone");
		if(phone.length<11){
			$.alert("请正确输入手机号码");
		     lock = false;
		     return ;
		}
		var i = 60;
		function verificationCode(){
			setTimeout(function(){
				$("#verificationCode").html(i--+"s");
				if(i>=0){
					//console.log(i);
					verificationCode();
				}else{
					error();
				}
			}, 1000);
		}
		verificationCode();
		function error(){
			i = 0;
			//console.log('end');
			lock = false;
			$("#verificationCode").html("获取验证码");
		}
		var params="&phone="+phone;
		addrManage.gainCode(params,function(datas){
			var status = datas.resultMessage.status;
			if(status == 0){			
				var res = datas.resultData.body.result;
				if(res.statusCode == 1){
					$.alert("发送成功,请注意查收!");
				}else{
					error();
					$.alert(res.description);	
				}
			}else{			
				error();
				$.alert(datas.resultMessage.messageText);
			}
		});
	});
	//输入手机验证码后“下一步”
	function nextActive(){
		//点击下一步触发ajax请求，验证短信验证码的正确性
		var inputCode=$("#inputCode").val();
		if(inputCode.length<4){
			//alert("请输入正确的短信验证码");
			$("#spanRandomCade").html("请输入正确的短信验证码");
			return;
		}
		var randomCodeInput=window.localStorage.getItem("randomCodeInput");
		var params="inputCode="+inputCode;
		params+="&randomCodeInput="+randomCodeInput;
		var url=App.path+"/rs/external/sms/wap/validateInfo?v="+new Date().getTime();
		$.ajax({
			// 后台处理程序
			url : url,
			// 数据发送方式
			type : "get",
			// 接受数据格式
			dataType : "json",
			// 要传递的数据
			data : params,
			// 回传函数
			success : function(data){
				var successCode=data.resultMessage.messageCode;
				if(successCode=="0000"){
					//跳转到下一个页面【切换激活页面】
					$("#validateCode").css("display","none");
					$("#setPassword").css("display","block");
					//$("#first").removeClass("active");
					$("#third").addClass("active");
				}else{
// 					var msg=data.resultMessage.messageText;
// 					$("#spanRandomCade").html(msg);

					$("#validateCode").css("display","none");
					$("#setPassword").css("display","block");
					//$("#first").removeClass("active");
					$("#third").addClass("active");
				}
			},error:function(e){
				$.alert(e);
			}
		});
	}
	function affirmSetPassword(){
		//重置密码
		var inputCode=$("#inputCode").val();
		if(inputCode.length<4){
			$.alert("请输入正确的短信验证码");
			return;
		}
		var password=$("#password").val();
		if(password.length<6 || password.length>20){
			$.alert("密码位数为6-20位,请正确输入密码位数");
			return;
		}
		var inputImgCode=window.localStorage.getItem("randomCodeInput");
		//验证输入信息
		var params="password="+password;
		params+="&imputCode="+inputCode;
		params+="&inputImgCode="+inputImgCode;
		var url=App.path+"/rs/external/merchants/wap/updatePasswordByPhone?v="+new Date().getTime();
		$.ajax({
			// 后台处理程序
			url : url,
			// 数据发送方式
			type : "get",
			// 接受数据格式
			dataType : "json",
			// 要传递的数据
			data : params,
			// 回传函数
			success : function(data){
				var successCode=data.resultMessage.messageCode;
				//debugger;
				if(successCode=="0000"){
					//跳转到下一个页面【切换显示页面】
					$("#setPassword").css("display","none");
					$("#ok").css("display","block");
					//切换激活页签
					//$("#second").removeClass("active");
					$("#four").addClass("active");
				}else{
					var msg=data.resultData.body.result;
					$.alert(msg);
				}
			},error:function(e){
				$.alert(e);
			}
		});
	}
	function ps() {
		if (this.forms.password.type = "password")
			box.innerHTML = "<input class='m-wrap span12' type=\"html\" name=\"password\" value=" + this.forms.password.value + ">";
		click.innerHTML = "<a style='width:25px;height:25px; display:inline-block;background: url(/assets/def/images/bind-audit12.png) center center no-repeat; background-size: 25px;' href=\"javascript:txt()\"></a>"
	}

	function txt() {
		if (this.forms.password.type = "text")
			box.innerHTML = "<input class='m-wrap span12' type=\"password\" name=\"password\" value=" + this.forms.password.value + ">";
		click.innerHTML = "<a style='width:25px;height:25px; display:inline-block;background: url(/assets/def/images/bind-audit11.png) center center no-repeat; background-size: 25px;' href=\"javascript:ps()\"></a>"
	}
	function againLogin(){
		window.location.href="login.html";
	}
</script>
</body>
</html>

