<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>众赏</title>
<link href="/assets/plugin/mui/dist/css/mui.min.css"
	rel="stylesheet" />
<link href="/assets/def/css/tips.css" rel="stylesheet" />
<style>
html,body {
	margin: 0;
	overflow-x: hidden;
}

div img {
	width: 60%;
	max-width:300px;
	display:block;
	margin: 80px auto 10px;
}
</style>
</head>

<!--页面主结构开始-->
<div>
	<img src="/assets/def/images/wechaterr.png">
	<p
		style="display: block; text-align: center; margin:20px 10px 0;">微信又神游去了<br /><font style='font-size:16px;line-height:36px;'>众赏正在努力召唤微信...</font></p>
</div>

<div class="tips-reginfo-submit" style="position:absolute;left:10px; bottom:20px; right:10px;">
	<button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="window.location.href='${reqUrl}'">重试</button>
</div>
<!-- 出现遮罩层 -->

</body>

</html>

















