<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    /WEB-INF/applicationContext.xml 
    /WEB-INF/conf/spring-quartz.xml
    </param-value>
  </context-param>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>defaultAuthenticationController</filter-name>
    <filter-class>com.platform.rp.common.controller.DefaultAuthenticationController</filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>defaultAuthenticationController</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>crossDomainFilter</filter-name>
    <filter-class>com.platform.rp.framework.rest.jersey.filter.CrossDomainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>crossDomainFilter</filter-name>
    <url-pattern>/rs/external/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>JerseyServlet</display-name>
    <servlet-name>JerseyServlet</servlet-name>
    <servlet-class>com.platform.rp.framework.rest.jersey.servlet.CustomerSpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com/platform/rp/**/rest/</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>
				com.platform.rp.framework.rest.jersey.filter.CustomerJerseyAuthFilter;
				com.platform.rp.framework.rest.jersey.filter.CustomerJerseyLogFilter				
			</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SystemInitServlet</display-name>
    <servlet-name>SystemInitServlet</servlet-name>
    <servlet-class>com.platform.rp.common.application.SystemInitServlet</servlet-class>
    <init-param>
      <param-name>systemConfigFile</param-name>
      <param-value>/WEB-INF/conf/system.config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
		<display-name>CxfServlet</display-name>
		<servlet-name>CxfServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
		<servlet-name>CxfServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/views/template/cusAdmin/login.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/views/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/views/error/error.html</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.platform.com</taglib-uri>
      <taglib-location>/WEB-INF/jstl/platfrom.tag.xml</taglib-location>
    </taglib>
  </jsp-config>
</web-app>